---
import StopwatchComponent from "../../components/Stopwatch.svelte";
import MainGridLayout from "../../layouts/MainGridLayout.astro";
---
<MainGridLayout title="在线秒表" description="极简且现代的在线秒表计时工具">
    <div class="flex flex-col w-full gap-6">
        <div class="flex w-full rounded-[var(--radius-large)] overflow-hidden relative min-h-32">
            <div class="card-base z-10 px-6 py-6 relative w-full flex flex-col items-center">
                <StopwatchComponent client:only="svelte" />
            </div>
        </div>
    </div>
</MainGridLayout>
